.hero-banner {
  background: url("../../assets/stock3.jpg") center/cover no-repeat;
  color: #fff;
  padding: 250px 0;
  text-align: center;
}

.hero-banner h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-banner p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hero-banner .btn-primary {
  font-size: 1.2rem;
  padding: 10px 20px;
}
