.hero-howitworks {
  color: #000000;
  padding: 100px 0;
  text-align: left;
}

.hero-howitworks h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.hero-howitworks p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.steps-title {
  font-size: 1.75rem;
  font-weight: bold;
}

.hero-howitworks .btn-primary {
  font-size: 1.2rem;
  padding: 10px 20px;
}
