.about {
  color: #000000;
  padding: 100px 0px;
  text-align: left;
}

.about h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.about p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.about-title {
  font-size: 1.75rem;
  font-weight: bold;
}

.about .btn-primary {
  font-size: 1.2rem;
  padding: 10px 20px;
}
